# dependencies
node_modules/

# build output
dist/
build/

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.log

# IDE and editor settings
.vscode/
.idea/